+header
#content
  +Template.dynamic(template=content)
if (Modal.isOpen)
  #modal
    .overlay
    .modal-content
      a.modal-close-btn.js-close-modal
        i.fa.fa-times-thin
      +Template.dynamic(template=Modal.getHeaderName)
      +Template.dynamic(template=Modal.getTemplateName)
