ul.pop-over-list
  li
    a.js-toggle-system-messages
      | {{_ 'hide-system-messages'}}
      if hiddenSystemMessages
        i.fa.fa-check
  li
    label.bold
      | {{_ 'show-cards-minimum-count'}}
    input#show-cards-count-at.inline-input.left(type="number" value="#{showCardsCountAt}" min="0" max="99" onkeydown="return false")
    input.js-apply-show-cards-at.left(type="submit" value="{{_ 'apply'}}")
