if error.get
  .warning {{_ error.get}}
ul.pop-over-list
  each uploadedAvatars
    li: a.js-select-avatar
      .member
        img.avatar.avatar-image(src="{{url avatarUrlOptions}}")
      | {{_ 'uploaded-avatar'}}
      if isSelected
        i.fa.fa-check
      p.sub-name
        unless isSelected
          a.js-delete-avatar {{_ 'delete'}}
          |  -
        = original.name
  li: a.js-select-initials
    .member
      +userAvatarInitials(userId=currentUser._id)
    | {{_ 'initials' }}
    if noAvatarUrl
      i.fa.fa-check
      p.sub-name {{_ 'default-avatar'}}
input.hide.js-upload-avatar-input(accept="image/*;capture=camera" type="file")
button.full.js-upload-avatar
  i.fa.fa-upload
  | {{_ 'upload-avatar'}}
