ul.pop-over-list
  li
    a.js-toggle-tag-notify-watch
      i.fa.fa-eye.colorful
      | {{_ 'watching'}}
      if hasTag "notify-watch"
        i.fa.fa-check
      span.sub-name {{_ 'notify-watch'}}
  li
    a.js-toggle-tag-notify-participate
      i.fa.fa-bell.colorful
      | {{_ 'tracking'}}
      if hasTag "notify-participate"
        i.fa.fa-check
      span.sub-name {{_ 'notify-participate'}}
